# Node
node_modules/
npm-debug.log
yarn-error.log

# VSCode
.vscode/

# Operating system
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]

# Environment
.env

# Build
dist/
build/

# Logs
logs/
*.log
